/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Form
5.  Work zone

*/

/* 1.  Fonts including */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

/* 2.  General styles */
$padding-standart: 120px 0px;
$padding-small: 90px 0px;
$typography-color-standart: 16px;
$blue: #6bb3ff;
$lightBlue: #b4d8fe;
$white: #fff;

body {
    color: #787878;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    max-width: 100%;
    font-size: $typography-color-standart;
}

section {
    overflow: hidden;
    padding: $padding-standart;

    @media only screen and (max-device-width: 767px) {
        padding: $padding-small;
    }
}

h2 {
    font-size: 19px;
    transition: .2s;

    @media (min-width: 992px) {
        font-size: 42px;
        line-height: 42px;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

header {
    height: 100%;

    .__header-logo-box {

        h2 {
            color: #fff;
            position: relative;
            font-size: 19px;
            padding-top: 15px;
            text-transform: inherit;
            -webkit-transition: .1s;
            -o-transition: .1s;
            transition: .2s;
            font-weight: bold;

            @media (min-width: 992px) {
                font-size: 42px;
                line-height: 42px;
            }

            &:hover {
                color: $lightBlue;

                span {
                    color: $white;
                }
            }


            span {
                color: $lightBlue;
                transition: .2s;
            }
        }
    }

    .__header-switcher-box {

        .language-switcher {
            float: right;
            margin-top: 15px;

            @media (min-width: 992px) {
                margin-top: 28px;
            }

            select::-ms-expand {
                display: none;
            }

            select {
                font-size: 17px;
                font-weight: bold;
                letter-spacing: -1px;
                color: $white;
                background-color: transparent;
                cursor: pointer;
                border: 0;
                text-transform: uppercase;
                width: auto;
                height: 27px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url(../img/dropdown.png) right / 18px no-repeat;
                padding-right: 18px;
                font-family: 'Poppins', 'Open-Sans-Bold', sans-serif;
                background-size: 15px;
                border-radius: 0;
                background-position-x: right;
                padding-right: 15px;
                width: 100%;

                &:focus,
                &:hover {
                    outline: 0;
                }

                option {
                    color: $blue;
                    border-color: $blue;
                    outline-color: $blue;
                    font-size: 12px;
                    text-align: center;
                    background-color: #141F26;
                }
            }
        }
    }

    .top-descr {
        display: table;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .top-centered {
            display: table-cell;
            text-align: center;
            vertical-align: middle;

            marquee {
                color: $white;
                font-size: 14px;
                letter-spacing: 2px;
                font-weight: 300;

                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }
        }

        h1 {
            font-size: 22px;
            font-weight: 300;
            text-transform: uppercase;
            border: solid 1px $white;
            transition: .2s;

            @media (min-width: 992px) {
                box-shadow: 2px 5px 20px 2px rgba(0, 0, 0, 0.5);
                border: 7px solid #fff;
                padding: 12px 65px;
                font-size: 40px;
            }

            &:hover {
                color: lightBlue;
                border-color: $lightBlue;
            }
        }

        p {

            a {
                font-size: 11px;
                color: $lightBlue;
                font-weight: 300;
                transition: .2s;
                letter-spacing: 2px;

                &:hover {

                    color: $white;
                }

                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }

            span {
                font-size: 9px;
                color: $lightBlue;
                font-weight: 300;
                color: $white;

                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }
        }
    }

    .banner-box {
        margin-top: 15px;

        @media (min-width: 992px) {
            margin-top: 40px;
        }

        a {
            margin-bottom: 5px;
            display: inline-block;
            width: 100%;

            @media (min-width: 992px) {
                margin-bottom: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            img {
                width: 100%;
            }
        }
    }
}

.no-webp header {
    background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.webp header {
    background: url('../img/bg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.work-box form input:required:valid,
.work-box form body textarea:required:valid {
    color: #333;
}

/* 5.  Work zone */
.work-box {

    ul.nav-pills {

        li.nav-item {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            a {
                background-color: $white;
                color: $blue;
                border: solid 2px $lightBlue;
                transition: .2s;
                padding: 10px 20px;
                text-transform: uppercase;

                @media (min-width: 992px) {
                    padding: 10px 35px;
                }

                &.active {
                    background-color: $blue;
                    color: $white;
                    border-color: $blue;

                    &:hover {
                        background-color: $blue;
                    }
                }

                &:hover {
                    background-color: $lightBlue;
                    color: $white;
                }
            }
        }
    }
}

/* 5. Form */
.work-box{
    text-align: left;
}

.work-box h2 {
    color: $blue;
    text-align: left;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}

.work-box form .btn {
    background-color: $blue;
    border: solid 2px $blue;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    padding: 10px 35px;
    text-transform: uppercase;
    margin-top: 20px;
}

@media only screen and (max-device-width: 991px) {
    .work-box form .btn {
        display: block;
        margin: 20px auto 0 auto;
        padding: 12px 50px;
    }
}

.work-box form .btn:hover {
    background-color: transparent;
    color: #787878;
}

.work-box form .color_element {
    float: left;
}

.work-box form label {
    width: 100% span;
    width-float: left;
}

.work-box form .for-full-width label {
    display: block;
    width: 100%;
}

.work-box form .for-full-width label input {
    width: 100%;
}

.work-box form input,
.work-box form select {
    background-color: #f8f8f8;
    color: #333;
    border: 0;
    min-height: 40px;
    line-height: 30px;
    padding: 10px;
}

.work-box form input:required:valid,
.work-box form body textarea:required:valid {
    color: #333;
}

.work-box form .select-box b {
    display: block;
    width: 100%;
}

.work-box form .check-box-include {
    width: 100%;
}

.work-box form .check-box-include .check-box-main {
    float: left;
    margin-right: 5px;
    display: block;
    margin-top: 1px;
}

.work-box form .check-box-include p {
    line-height: 40px;
    margin-bottom: 0;
}

.work-box form .radiobutton-box {
    float: left;
}

.work-box form .radiobutton-box p {
    margin-bottom: 0;
}

.work-box form .radiobutton-box input {
    width: 20px;
    margin-right: 0;
}

.work-box form .birthday-date {
    float: left;
}

.work-box form .birthday-date input,
.work-box form .birthday-date select {
    max-width: 150px;
    float: left;
    height: 35px;
    min-height: 35px;
    font-size: 13px;
    margin-right: 2px;
}

@media only screen and (max-device-width: 991px) {

    .work-box form .birthday-date input,
    .work-box form .birthday-date select {
        max-width: 100px;
    }
}

.work-box form .birthday-date .birthday-text-box {
    margin-bottom: 0;
}

.work-box .personal-info {
    margin-top: 30px;
}

.work-box .generated-info {
    font-size: 14px;
}

@media only screen and (max-device-width: 991px) {

    .work-box #userStateSelect,
    .work-box .select-box {
        width: 100%;
    }
}

.work-box .img-main-box {
    text-align: center;
    margin-bottom: 20px;
}

@media only screen and (max-device-width: 991px) {
    .work-box .img-main-box {
        margin-top: 50px;
    }
}

.work-box .img-main-box img {
    max-width: 70%;
}

@media only screen and (max-device-width: 767px) {

    .work-box .table td,
    .work-box .table th {
        max-width: 50%;
        width: 50%;
        word-break: break-all;
    }
}

.work-box .generated-info th {
    width: 35%;
    text-align: left;
}

.work-box .table .final-passport-info {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.work-box .table td {
    font-size: 13px;
    text-align: right;
}

.work-box .table p {
    margin-bottom: 0;
}

.work-box .pasportBox {
    margin-bottom: 0;
    color: $blue;
}

.work-box .DL,
.work-box .SSN,
.work-box .pasportBox {
    color: $blue;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 13px;
}

.work-box .finalPassportInfo {
    text-align: center;
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
    text-transform: uppercase;
    text-align: right;
    word-break: break-all;
}

@media only screen and (max-device-width: 420px) {
    .work-box .finalPassportInfo {
        font-size: 13px;
        letter-spacing: -1px;
    }
}

.work-box .finalPassportInfo p {
    margin-bottom: 0;
}

.work-box .finalPassportInfo b {
    font-weight: normal;
}

.work-box .overfl-boox {
    width: 399px;
    white-space: nowrap;
    overflow: hidden;
    float: right;
}

@media only screen and (max-device-width: 420px) {
    .work-box .overfl-boox {
        width: 287px;
        white-space: nowrap;
        overflow: hidden;
        float: right;
    }
}

.work-box .fullBtn {
    background-color: $blue;
    border: solid 2px $blue;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    padding: 10px 35px;
    text-transform: uppercase;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-device-width: 400px) {
    .work-box .fullBtn {
        margin: 0 auto;
        display: block;
    }
}

.work-box .fullBtn:hover {
    background-color: transparent;
    color: #787878;
}

.work-box .fullInfoQueryGanerated {
    margin-top: 30px;
}

.work-box .helpInfo {
    line-height: 30px;
    text-align: left;
}

@media only screen and (max-device-width: 767px) {
    .work-box .helpInfo {
        margin-top: 15px;
    }
}

@media only screen and (max-device-width: 420px) {
    .work-box .helpInfo {
        font-size: 14px;
        line-height: 26px;
        text-align: center;
    }
}

/* 6. Details */
.details {
    background-color: #f8f8f8;
}

.details p {
    font-size: 13px;
    color: #787878;
}

.details p.red-alert {
    color: red;
}

.details p:last-child {
    margin-bottom: 0;
}

/* 7. Footer */
.main_footer {
    padding: 50px 0;
    font-size: 13px;
    font-weight: 300;
    background-color: #333;
    color: #888;
}

.main_footer span {
    color: $blue;
}

.main_footer span a {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    color: $blue;
}

.main_footer span a:hover {
    text-decoration: none;
    color: #b4d8fe;
}

.main_footer .toTopName {
    text-transform: inherit;
}

.main_footer .social_wrap {
    text-align: center;
    line-height: 0;
    font-family: 'OpenSansRegular', sans-serif;
}

.main_footer .social_wrap i {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-right: 5px;
}

.main_footer .social_wrap ul {
    margin: 0;
}

.main_footer .fab {
    color: $blue;
}

.main_footer .fab:hover {
    color: #b4d8fe;
}

@media only screen and (max-device-width: 767px) {
    .main_footer {
        text-align: center;
    }

    .main_footer .social_wrap {
        float: none;
        margin-top: 10px;
    }
}

.person {
    text-align: center;
    margin-bottom: 35px;
}

.person img {
    max-width: 220px;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.s_about p {
    margin-bottom: 25px;
}

.s_about ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.s_about li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
}

.s_about .social_wrap {
    margin-top: 25px;
}

.social_wrap li {
    display: inline-block;
    font-size: 13px;
    padding: 0 3px;
}

/* 9. String */
.marquee-box {
    width: 80%;
    padding: 0 15px;
    margin: 0 auto 10px auto;

    @media only screen and (max-device-width: 320px) {
        width: 100%;
    }
}

.marquee-box marquee {
    color: #fff;
    text-transform: uppercase;
}

.marquee-box marquee span {
    color: #b4d8fe;
}

.marquee-box marquee .post-meta-key {
    color: #fff;
}

.banner-box {
    padding-top: 30px;
}

.banner-box a {
    display: block;
    margin-bottom: 10px;


}

.banner-box a img {
    max-width: 100%;
}

@media only screen and (max-device-width: 767px) {

    .banner-box a {
        margin-bottom: 5px;
    }
}

footer a{
    color: $blue;
    transition: .2s;
}